<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     ÜYE GİRİŞİ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
     
      <ion-item>
        <ion-label>Email input</ion-label>
        <ion-input  [(ngModel)]="myEmail"  type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password input</ion-label>
        <ion-input  [(ngModel)]="myPass" type="password" value="password"></ion-input>
      </ion-item>

      <div class="sagkaydir">
      <ion-button size="small" (click)="giris()"  fill="outline">GİRİŞ</ion-button>
      </div>
      
    </ion-card-content>
  </ion-card>

</ion-content>